@charset "utf-8";
@import "global.scss";




.relative {
	position: relative;
}



.mobile {
	display: none;
}

.ic {
	@include text-middle;
}

.sectionLine{
	height: 10px;
	width: 100%;
	background-color: #ededed;
}


label {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.clearfix:after {
	content:'';
	clear:both;
	display:block;
	//position:relative;
	//@include pseudo;
}

.ml5{
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mt30 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.pt10 {
	padding-top: 10px;
}

.pt40 {
	padding-top: 40px;
}


.ic {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}


.overlay:before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 500;

}

.overlay2:before{
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 550;

}

/** 검색어 하이라이트 **/
.f_red {
	color: #ff3333;
}





.btn{
	@include text-middle();
	border-radius: 5px;

	&.big{
		width: 145px;
		line-height: 52px;
		font-size: 20px;
		@include lsPx(-40,20);
	}


	&.main_col{
		background-color: #154588;
		color: #fff;

		&:hover{
			background-color: #0c2856;
		}
	}

	&.negative_col{
		background-color: #788290;
		color: #fff;

		&:hover{
			background-color: #545c68;
		}
	}

}


.btn.chkBtn{
	width: 75px;
	line-height: 34px;
	font-size: 15px;
	color: #ffffff;
	padding:0 11px;
	background:#515461 url("../img/ic_chk_arrow.png") no-repeat center right 9px;
}



article.pageMenu {
	height: 56px;
	position: relative;
	padding: 0 20px 0 0;
	box-shadow: inset 0 -1px 0 0 #dddddd;
}

article.pageSelector {

	@include text-middle();


	.selectorBox {
		@include text-middle();

		position: relative;
		box-shadow: inset -1px 0 0 0 #dddddd;
		width: 420px;

		a.set {
			font-size: 15px;
			font-weight: 500;
			display: block;
			line-height: 56px;
			padding: 0 50px 0 20px;
			background: url("../img/ic_selector_arrow.png") no-repeat center right 14px / 24px 24px;
		}

		ul {
			display: none;
			position: absolute;
			left: 0;
			right: 1px;
			top: 56px;
			background-color: #fff;
			z-index: 10;
			max-height:calc(100vh - 170px);
			overflow-y: auto;


			li {
				a {
					display: block;
					box-shadow: inset -1px 0 0 0 #dddddd, inset 0 -1px 0 0 #f3f3f3;
					line-height: 56px;
					padding: 0 20px;
					font-size: 15px;
					
					&.on{
						font-weight: 500;
						color: #003bff;
					}

					&:last-child {
						box-shadow: inset 0 -1px 0 0 #dddddd;
					}


				}

				&:hover {
					background-color: #fafbff;
				}
			}

		}
	}
}

article.spinner {

	@include text-middle();

	.spinnerTxt {
		@include text-middle();
		font-size: 11px;
		opacity: 0.5;
		line-height: 24px;
		padding-right: 4px;
	}

	.spinnerBox {
		@include text-middle();
		border:1px solid #dddddd;

		a {
			@include text-middle();
			width: 30px;
			height: 30px;

			&.minus {
				background: url("../img/ic_spinner_minus.png") no-repeat center / 9px 1px;
			}

			&.plus {
				background: url("../img/ic_spinner_plus.png") no-repeat center / 9px 9px;
			}
		}

		input {
			@include text-middle();
			font-family: $font1;
			height: 30px;
			width: 30px;
			font-size: 14px;
			@include lsPx(-50, 14);
			text-align: center;
			outline: none;
		}
	}

}

article.paging {

	font-size: 0;
	text-align: center;


	ul {

		@include text-middle();

		li {

			@include text-middle();
			

			a {
				@include text-middle();
				width: 30px;
				height: 30px;
				border-radius: 5px;


				&.num {
					font-size: 16px;
					line-height: 30px;
					color: #494949;
					font-weight: 300;
					@include lsPx(-30, 16);
					margin: 0 3px;

					&:hover{
						color: $main_col;
						text-decoration: underline;
						text-underline-position: under;
					}


					&.current {
						font-weight: 400;
						color: #fff;
						border-radius: 5px;
						background-color: #2daad3;

						&:hover{
							text-decoration: none;
						}
					}

				}

				&.first {
					background: url("../img/ic_paging_first.png") no-repeat center;

					&:hover{border:1px solid #ccc;}
				}

				&.prev {
					background: url("../img/ic_paging_prev.png") no-repeat center;
					margin-right: 17px;

					&:hover{border:1px solid #ccc;}

				}

				&.next {
					background: url("../img/ic_paging_next.png") no-repeat center;
					margin-left: 17px;

					&:hover{border:1px solid #ccc;}

				}

				&.last {
					background: url("../img/ic_paging_last.png") no-repeat center;
					&:hover{border:1px solid #ccc;}

				}
			}
		}
	}


}


.tbox {
	@include text-middle();
	border-radius: 3px;
	border: solid 1px #dadada;
	padding: 0 10px;
	height: 34px;
	font-size: 15px;
	color: #000;
	outline: none;
	@include lsPx(-10,15);

	&:read-only{
		background-color: #f5f5f5;
	}

	&.full{
		width: 100%;
	}

	&::placeholder {
		color: rgba(57, 57, 57, 0.4);
		letter-spacing: -0.3px;
	}

	&.readonly{
		background-color: #f5f5f5;
		font-weight: 700;
		@include lsPx(-10, 15);
	}
}

.sbox {
	@include text-middle();
	position:relative;
	text-align: left;
	border-radius: 4px;


	.set {
		width: 100%;
		border-radius: 4px;
		font-size: 14px;
		line-height: 36px;
		letter-spacing: -0.4px;
		color: #000;
		display: block;
		height: 36px;
		padding:0 33px 0 12px;
		background: #f3f5f8 url("../img/ic-down@3x.png") no-repeat center right 12px / 16px 16px;
		cursor: pointer;
		@include text_ellipsis;

		&.on{
			border:1px solid #2daad3;
		}
	}

	.menuList{
		display: none;
		position: absolute;
		left: 1px;
		right: 1px;
		top: 52px;
		z-index: 20;
		padding:24px;
		min-width:208px;

		border-radius: 8px;
		box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;

		ul {

			li {

				.cbox{



				}

				& + li{

					margin-top: 16px;

				}


			}

		}

		a.selectBtn{
			margin-top: 32px;
			width: 100%;
			line-height: 44px;
			border-radius: 4px;
			background-color: $main_col;
			color: #fff;
			font-size: 16px;
			letter-spacing: -0.78px;
			text-align: center;
		}

	}




	select {
		width: 100%;
		/* you should keep these firsts rules in place to maintain cross-browser behaviour */
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		background: url("../img/ic_select_arrow.png") no-repeat top 19px right 15px / 19px 8.5px;
		outline: none;
		padding:0 58px 0 19px;

		height: 100%;
		font-size: 16px;
	}

	&.smaller {
		width: 60px;
	}

	&.big{
		width: 180px;
		height: 34px;
		font-size: 15px;

		select{
			background: url("../img/ic_select_arrow.png") no-repeat center right 9px;

		}

	}


}

table.form {

	border-top: 1px solid #3b3b3b;


	tr {

		border-bottom: 1px solid #d2d2d2;

		th {
			padding: 19px 33px;
			text-align: left;
			font-size: 14px;
		}


		td {
			padding: 8px 0;

			&.left {
				text-align: left;
			}

			&.center {
				text-align: center;
			}

			.box {
				font-size: 0;

				.row {

					& + .row {
						margin-top: 10px;
					}
				}
			}

			.tbox {

				vertical-align: middle;
				height: 30px;
				border: 1px solid #d2d2d2;
				padding: 0 5px;
				width: 150px;
				font-size: 15px;

				&.small {
					width: 110px;
				}

				&.smaller {
					width: 60px;
				}

				&.long {
					width: 200px;
				}


			}

			.unit {
				font-size: 15px;
				margin: 0 5px;
			}

		}

		.formBtn {
			//border: 1px solid #d2d2d2;
			background-color: #bfbfbf;
			font-weight: 700;
			color: #fff;
			line-height: 30px;
			text-align: center;
			font-weight: 300;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
		}
	}
}


label.toggle {

	position: relative;
	height: 16px;
	cursor: pointer;

	input {
		display: none;
		cursor: pointer;

		&:checked {

			~ .handler {
				left: 14px;
				border-color: #ce2027;
				transition: left 0.3s ease-out;
			}

			~ .bg {
				background-color: #0b7af3;
			}
		}
	}

	.handler {

		position: absolute;
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #fff;
		border-radius: 50%;
		transition: left 0.3s ease-out;
		padding: 0;
		top: 50%;
		left: 2px;
		transform: translateY(-50%);
		z-index: 10;
	}

	.bg {
		position: relative;
		display: inline-block;
		background-color: #dddee0;
		border-radius: 8px;
		width: 28px;
		height: 16px;
		z-index: 9;
	}

}

.amountBox {
	font-size: 0;
	@include text-middle;
	border: 1px solid #d2d2d2;

	.minus, .plus {
		@include text-middle();
		vertical-align: top;
		width: 36px;
		height: 32px;
		position: relative;
	}

	.minus{background:#f2f3f5 url("../img/ic_amount_minus.png") no-repeat center center}
	.plus{background:#f2f3f5 url("../img/ic_amount_plus.png") no-repeat center center}


	.tbox {
		@include text-middle();
		height: 32px;
		text-align: center;
		width: 40px;
		font-size: 12px;
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
		border-top:none;
		border-bottom:none;
		border-radius: 0;
	}
}

.rbox {
	position: relative;
	display: inline-block;
	font-size: 0;

	label {
		@include text-middle();
		cursor: pointer;

		input[type=radio] {
			position: absolute;
			left: -9999px;

			//&:disabled{
			//	& ~ i{
			//		background:url("../img/Check_Disable@3x.png") no-repeat center / cover;
			//
			//	}
			//}

			&:checked {

				& ~ i {
					background: url("../img/ic_chk_on.png") no-repeat center / cover;

				}

			}
		}

		i {
			position: relative;
			width: 18px;
			height: 18px;
			line-height: 24px;
			@include text-middle();
			background: url("../img/ic_chk_off.png") no-repeat center / cover;

		}


		.txt {
			@include text-middle();
			font-size: 18px;
			color: #222222;
			line-height: 20px;
			padding-left: 7px;
		}
	}
}


.cbox {
	position: relative;
	display: inline-block;
	font-size: 0;
	line-height: 1;

	label {
		@include text-middle();
		cursor: pointer;

		input[type=checkbox] {
			position: absolute;
			left: -9999px;

			//&:disabled{
			//	& ~ i{
			//		background:url("../img/Check_Disable@3x.png") no-repeat center / cover;
			//
			//	}
			//}

			&:checked {

				& ~ i {
					background: url("../img/ic_cbox_on.png") no-repeat center / cover;

				}

			}
		}


		i {
			position: relative;
			width: 15px;
			height: 15px;
			line-height: 15px;
			@include text-middle();
			background: url("../img/ic_cbox_off.png") no-repeat center / cover;

		}

		.txt{
			@include text-middle();
			line-height: 15px;
			font-size: 16px;
			letter-spacing: -0.4px;
			padding-left: 12px;
		}

	}
}



.rbox {
	position: relative;
	display: inline-block;
	font-size: 0;
	line-height: 1;

	label {
		@include text-middle();
		cursor: pointer;

		input[type=radio] {
			position: absolute;
			left: -9999px;

			//&:disabled{
			//	& ~ i{
			//		background:url("../img/Check_Disable@3x.png") no-repeat center / cover;
			//
			//	}
			//}

			&:checked {

				& ~ i {
					background: url("../img/ic_radio_on.png") no-repeat center / cover;

				}

			}
		}


		i {
			position: relative;
			width: 15px;
			height: 15px;
			line-height: 15px;
			@include text-middle();
			background: url("../img/ic_radio_off.png") no-repeat center / cover;

		}

		.txt{
			@include text-middle();
			line-height: 15px;
			padding-left: 5px;
			font-weight: 700;
			font-size: 14px;
			color: #fff;
		}

	}
}



label.check {

	cursor: pointer;

}


label.chk {

	position: relative;
	cursor: pointer;

	input[type=radio] {
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;


		@include text-middle;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		border: 1px solid #656d9a;
		position: relative;

		&:checked {

			background-color: #0b7af3;
			border-color: transparent;

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				background: #fff;

			}
		}
	}
}

article.fontSetBox {

	@include text-middle();

	a {
		margin: 0 -1px 0 0;
		width: 35px;
		line-height: 20px;
		font-size: 12px;
		text-align: center;
		@include text-middle();
		color: #333;
		opacity: 0.5;
		border: 1px solid #ccc;

		&.on {
			opacity: 1;
		}
	}
}

		